[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm
[submodule "dep/flecs"]
	path = dep/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "dep/bgfx.cmake"]
	path = dep/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
