[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm
[submodule "dep/flecs"]
	path = dep/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "dep/freetype"]
	path = dep/freetype
	url = https://github.com/freetype/freetype
[submodule "dep/SDL"]
	path = dep/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "dep/glad"]
	path = dep/glad
	url = https://github.com/Dav1dde/glad
[submodule "engine/spox2d"]
	path = engine/spox2d
	url = https://github.com/Kubic-C/spox2d
[submodule "dep/SDL_mixer"]
	path = dep/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
